
body{
    background: linear-gradient(180deg, rgba(173,170,210,1) 0%, rgba(65,11,11,1) 0%, rgba(28,9,7,1) 100%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h1{
    text-align: center;
}

i{
    display: flex;
    justify-content: center;
}

img{
    display: flex;
    justify-content: center;
}

h2{
    text-align: center;
}

tr:nth-child(1) {
    background-color: #f2f2f2;
}

table{
    text-align: center;
    color: red;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

td{
    border: white 1px dotted;
}

a{
    text-align: center;
}

div{
    display: flex;
    font-size: 2em;
    justify-content: center;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color:white;
    margin: 10px;
}

ul{
    font-size: 100%;
    list-style-image: url("../images/pc.svg");

}

li{
    font-size: 4em;
}

li span{
    font-size: 0.5em; !important;
}

h3{
    text-align: center;
}

h4{
    text-align: center;
}

#flame{
    width: 100px;
}

/* checkbox*/

.label{


}

.checkbox {


}

.check {
    width:50px;
    height:50px;
    position:absolute;
    opacity:0;
}

.path1{
    stroke-dasharray:400;
    stroke-dashoffset:400;
    transition:.5s all;
}
.path2{
    stroke-dasharray:1800;
    stroke-dashoffset:1800;
    transition:.5s all;
}

.check:checked + label svg g path {
    stroke-dashoffset:0;
}

#txtCheckBox{
    position: absolute;
    left: 50%;
    z-index: -9999;
    transform: translateX(-100px) translateY(-15px);
}
